{% extends "layout.html" %}

{% block title %}page1{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible">{{ message }}
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %} 

    <h1>This is Page 1</h1>

    <p>User info .</p>

    <pre>
        {{ dump_user_data }}
    </pre>

{% endblock %}

